.hidden-scrool {
    overflow-y: hidden;
    margin: 0px;
}

.ui-sortable-handle {
    -ms-touch-action: none;
    touch-action: none;
}

.vh-80 {
    height: 80vh;
}

.vh-81 {
    height: 81vh;
}

.vh-90 {
    height: 90vh;
}

.div-height {
    height: 80%;
}

body.dark-mode {
    background-color: black;
    color: white;
    border-color: blue;
}

.video-center {
    margin-top: 52px;
}

.bg-deep-dark {
    color: #E8ECED;
    fill: #E8ECED;
    background-color: #18191B;
}

.bg-clear-dark {
    color: #E8ECED;
    fill: #E8ECED;
    background-color: #33363c;
}


.bg-deep-light {
    background-color: #ffffff;
}

.bg-clear-light {
    background-color: #f8f9fa;
}
@media screen and (max-width: 990px) {

    /* 6 */
    .vh-80 {
        height: 40vh;
    }

    .div-height {
        height: 70%;
    }

    .video-center {
        margin-top: 52px;
        padding-bottom: 52px;
    }
}

@media screen and (max-width: 768px) {
    .flex-column-mobile {
        flex-direction: column !important;
    }
}

@media screen and (max-width: 575px) {

    /* 12 */
    .vh-80 {
        height: 20vh;
    }

    .vh-81 {
        height: 40vh;
    }

    .div-height {
        height: 60%;
    }
}


@media screen and (max-width: 410px) {
    .menu-flex-warp {
        flex-wrap: wrap;
    }

    .menu-flex-warp-reverse {
        flex-wrap: wrap-reverse;
    }
}