.hidden-scrool {
    overflow-y: hidden;
    margin: 0px;
}

.ui-sortable-handle {
    -ms-touch-action: none;
    touch-action: none;
}

.vh-80 {
    height: 80vh;
}

.vh-81 {
    height: 81vh;
}

.vh-90 {
    height: 90vh;
}

.div-height {
    height: 80%;
}

.video-center {
    margin-top: 52px;
}

.bg-deep-dark {
    color: #E8ECED;
    fill: #E8ECED;
    background-color: #18191B;
}

.bg-clear-dark {
    color: #E8ECED!important;
    fill: #E8ECED!important;
    background-color: #33363c!important;
}

.bg-deep-light {
    background-color: #ffffff;
}

.bg-clear-light {
    color: #000!important;
    fill: #000!important;
    background-color: #f9f9f9!important;
}

.bg-clear-light-link,
.bg-clear-light-link:hover,
.bg-clear-light-link:focus {
    color: #000!important;
    fill: #000!important;
}

.bg-clear-dark-menu:hover,
.bg-clear-dark-menu:focus {
    background-color: #5c5e62;
}

.bg-clear-light-menu:hover,
.bg-clear-light-menu:focus {
    background-color: #e6e6e6;
}

.bg-clear-dark-link,
.bg-clear-dark-link:hover,
.bg-clear-dark-link:focus {
    color: #E8ECED!important;
    fill: #E8ECED!important;
}

.list-group-item-success {
    color: #0f5132 !important;
    background-color: #d1e7dd !important;
}

.list-group-item-success>div>div>button,
.list-group-item-success>div>div>button:focus,
.list-group-item-success>div>div>button:hover {
    color: #000;
}

@media screen and (max-width: 990px) {

    /* 6 */
    .vh-80 {
        height: 40vh;
    }

    .div-height {
        height: 70%;
    }

    .video-center {
        margin-top: 52px;
        padding-bottom: 52px;
    }
}

@media screen and (max-width: 768px) {
    .flex-column-mobile {
        flex-direction: column !important;
    }
}

@media screen and (max-width: 575px) {

    /* 12 */
    .vh-80 {
        height: 20vh;
    }

    .vh-81 {
        height: 40vh;
    }

    .div-height {
        height: 60%;
    }
}

@media screen and (max-width: 410px) {
    .menu-flex-warp {
        flex-wrap: wrap;
    }

    .menu-flex-warp-reverse {
        flex-wrap: wrap-reverse;
    }
}