nav {
  background-color: #2e2e36;
}

#top-menu{
  background-color: #2e2e36;
  height: 64px;
}

#bottom-menu, #menu-volume{
  background-color: #2e2e36;
}

#display-main{
  position: relative;
  /* background-color: red; */
}

#display-video{
  position: relative;
  margin-bottom: 0px;
}

.feed-component{
  max-height: calc(40px * 8);
  overflow: hidden;
  border-bottom: 1px solid #198754;
}

.z-index-1035{
  z-index: 1035;
}

.page-link{
  color: #dee2e6;
}

.active>.page-link, .page-link.active {
  background-color: #198754;
  border-color: #198754;
}

.bi-plus-custom{
  font-size: 35px;
}

.card-playlist {
  min-height: 185px;
}

.bg-trans-modal{
  background-color: #0000009e;
}

@media screen and (max-width: 372px) {
  #display-main{
      top: 110px;
      margin-bottom: 300px;
  }
  #display-video{
      top: 110px;
      height: calc(100vh - 300px);
  }
  #video{
      max-height: calc(100vh - 300px);
  }
}

@media screen and (min-width: 373px) and (max-width: 490px) {
  #display-main{
      top: 64px;
      margin-bottom: 275px;
  }
  #display-video{
      top: 64px;
      height: calc(100vh - 229px);
  }
  #video{
      max-height: calc(100vh - 229px);
  }
}

@media screen and (min-width: 491px) and (max-width: 767px) {
  #display-main{
      top: 64px;
      margin-bottom: 275px;
  }
  #display-video{
      top: 64px;
      height: calc(100vh - 229px);
  }
  #video{
      max-height: calc(100vh - 229px);
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #display-main{
      top: 64px;
      margin-bottom: 229px;
  }
  #display-video{
      top: 64px;
      height: calc(100vh - 190px);
  }
  #video{
      max-height: calc(100vh - 190px);
  }
}

@media screen and (min-width: 992px) {
  #display-main{
      top: 64px;
      margin-bottom: 190px;
  }
  #display-video{
      top: 64px;
      height: calc(100vh - 145px);
  }
  #video{
      max-height: calc(100vh - 145px);
  }
}

@media screen and (max-width: 530px) {
  #search-value{
    width: calc( 100vw * 0.4);
  }
}

@media screen and (max-width: 372px) {
  #search-value{
    width: calc( 100vw * 0.3);
  }

  #top-menu{
    background-color: #2e2e36;
    height: 110px;
  }
}